<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Pavilion Space Hub | Welcome</title>

    <!-- Favicon global-->
    <link rel="shortcut icon" href="public/assets/media/image/pavspaceImg/logo-only.png" />

    <!-- Main css global-->
    <link rel="stylesheet" href="public/vendors/bundle.css" type="text/css">

    <!-- Google font global-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- App css global-->
    <link rel="stylesheet" href="public/assets/css/app.min.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="horizontal-navigation">
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-icon"></div>
        <span>Loading...</span>
    </div>
    <!-- ./ Preloader -->

    <!-- vue js app start here -->
    <div id="app">

        <!-- settings header notification -->
        <settings-notification></settings-notification>

        <!-- Layout wrapper -->
        <div class="layout-wrapper">

            <!-- topHeader for notification -->
            <top-header></top-header>

            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- navigating menus -->
                <navigating-bar></navigating-bar>
                <!-- Content body -->
                <div class="content-body">
                    <!-- Content -->
                    <div class="content">
                        <div class="page-header d-md-flex justify-content-between">
                            <div>
                                <h3>Settings</h3>
                                <nav aria-label="breadcrumb" class="d-flex align-items-start">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Settings</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="mt-3 mt-md-0" v-if="is_superuser">
                                <button type="button" @click="downloadCSV" class="btn btn-primary ml-0 ml-md-2 mt-2 mt-md-0">Download</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="nav nav-pills flex-column" id="v-pills-tab" role="tablist"
                                            aria-orientation="vertical">
                                            <a class="nav-item nav-link active" id="v-pills-home-tab" data-toggle="pill"
                                                href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                                aria-selected="true">Your
                                                Profile</a>
                                            <a class="nav-item nav-link" id="v-pills-profile-tab" data-toggle="pill"
                                                href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                                aria-selected="false">Password</a>
                                            <a class="nav-item nav-link" id="v-pills-messages-tab" data-toggle="pill"
                                                href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                                aria-selected="false">Email
                                                Notifications</a>
                                            <a class="nav-item nav-link" id="v-pills-settings-tab" data-toggle="pill"
                                                href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                                aria-selected="false">Integrations</a>
                                            <a v-if="is_superuser" class="nav-item nav-link" id="v-pills-customer-tab" data-toggle="pill"
                                            href="#v-pills-customer" role="tab" aria-controls="v-pills-customer"
                                            aria-selected="false">Customer of the Month</a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                                aria-labelledby="v-pills-home-tab">
                                                <form action="">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h6 class="card-title">Your Profile</h6>
                                                            <div class="d-flex mb-3">
                                                                <figure class="mr-3">
                                                                    <img v-if="!users.image" width="100" height="100" class="rounded-pill"
                                                                        src="public/assets/media/image/pavspaceImg/logo-only.png"
                                                                        alt="Users Image" id="imagePreview">
                                                                    <img v-else width="100" height="100" class="rounded-pill" :src="users.image" alt="Users Image" id="imagePreview">
                                                                </figure>
                                                                <div>
                                                                    <p>{{users.username}}</p>
                                                                    <input type='file' @change="encodeImageFileAsURL" style="display: none;" ref="fileInput" accept=".png, .jpg, .jpeg" />
                                                                    <button type="button" @click="$refs.fileInput.click()" style="border: 0;" class="btn btn-outline-light mr-2">Choose File</button>
                                                                    <button class="btn btn-outline-light mr-2" @click.prevent="uploadImage">
                                                                        <div v-if="loading" class="spinner-border spinner-border-sm text-primary" role="status">
                                                                            <span class="sr-only">Loading...</span>
                                                                          </div>
                                                                          <div v-else>Upload Image</div>
                                                                    </button>
                                                                    <!-- <button class="btn btn-outline-danger">Remove Avatar</button> -->
                                                                    <p class="small text-muted mt-3">For best results, use an image at least 256px by 256px in either .jpg or .png format</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Name</label>
                                                                        <input type="text" class="form-control"
                                                                            plcaceholder="Other Name"
                                                                            v-model="othernames">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Surname</label>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Surname" v-model="surname">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Email</label>
                                                                        <input type="email" class="form-control"
                                                                            placeholder="Email" v-model="email">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>wifi Password</label>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Wifi Password"
                                                                            v-model="wifipassword">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Plan</label>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Plan" v-model="plan" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Team</label>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Team" v-model="team" disabled>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h6 class="card-title">Contact</h6>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Gender</label>
                                                                        <input type="text" class="form-control" placeholder="Gender" v-model="gender">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Phone</label>
                                                                        <input type="tel" class="form-control" placeholder="+234 903 **** ***" v-model="phone">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Website</label>
                                                                        <input type="text" class="form-control"
                                                                            value="http://laborasyon.com/">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Languages</label>
                                                                        <input type="text" class="form-control"
                                                                            value="http://laborasyon.com/">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <p>Gender</p>
                                                                        <div
                                                                            class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" id="customRadio1"
                                                                                name="customRadio"
                                                                                class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                for="customRadio1">Male</label>
                                                                        </div>
                                                                        <div
                                                                            class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" id="customRadio2"
                                                                                name="customRadio"
                                                                                class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                for="customRadio2">Female</label>
                                                                        </div>
                                                                        <div
                                                                            class="custom-control custom-radio custom-control-inline">
                                                                            <input type="radio" id="customRadio3"
                                                                                name="customRadio"
                                                                                class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                for="customRadio3">Other</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Address Line 1</label>
                                                                        <input type="text" class="form-control"
                                                                            value="A-65, Belvedere Streets">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Address Line 2</label>
                                                                        <input type="text" class="form-control"
                                                                            value="">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Post Code</label>
                                                                        <input type="text" class="form-control"
                                                                            value="1868">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>City</label>
                                                                        <input type="text" class="form-control"
                                                                            value="New York">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>State</label>
                                                                        <input type="text" class="form-control"
                                                                            value="New York">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Country</label>
                                                                        <input type="text" class="form-control"
                                                                            value="United States">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-primary">Save</button>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h6 class="card-title">Social</h6>
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label>Twitter</label>
                                                                            <input type="text" class="form-control"
                                                                                value="https://twitter.com/roxana-roussell">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Facebook</label>
                                                                            <input type="text" class="form-control"
                                                                                value="https://www.facebook.com/roxana-roussell">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label>Instagram</label>
                                                                            <input type="text" class="form-control"
                                                                                value="https://www.instagram.com/roxana-roussell/">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>GitHub</label>
                                                                            <input type="text" class="form-control"
                                                                                value="https://github.com/roxana-roussell">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-primary">Save</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                                aria-labelledby="v-pills-profile-tab">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Password</h6>
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Old Password</label>
                                                                        <input type="password" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>New Password</label>
                                                                        <input type="password" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>New Password Repeat</label>
                                                                        <input type="password" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-primary">Save</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                                aria-labelledby="v-pills-messages-tab">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <form>
                                                            <h5 class="mb-3">Activity Notifications</h5>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        checked id="customSwitch1">
                                                                    <label class="custom-control-label"
                                                                        for="customSwitch1">Someone assigns
                                                                        me
                                                                        to a task</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        checked id="customSwitch2">
                                                                    <label class="custom-control-label"
                                                                        for="customSwitch2">Someone mentions
                                                                        me
                                                                        in a conversation</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        checked id="customSwitch3">
                                                                    <label class="custom-control-label"
                                                                        for="customSwitch3">Someone adds me
                                                                        to a
                                                                        project</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="customSwitch41">
                                                                    <label class="custom-control-label"
                                                                        for="customSwitch41">Activity on a
                                                                        project I am a member of</label>
                                                                </div>
                                                            </div>
                                                            <h5 class="mb-3 mt-5">Service Notifications</h5>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="customSwitch51">
                                                                    <label class="custom-control-label"
                                                                        for="customSwitch51">Monthly
                                                                        newsletter</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        checked id="customSwitch6">
                                                                    <label class="custom-control-label"
                                                                        for="customSwitch6">Major feature
                                                                        enhancements</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="customSwitch7">
                                                                    <label class="custom-control-label"
                                                                        for="customSwitch7">Minor updates
                                                                        and
                                                                        bug fixes</label>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-primary">Save</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                                aria-labelledby="v-pills-settings-tab">
                                                <div class="card">
                                                    <div
                                                        class="card-body d-flex justify-content-between align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <figure class="mb-0 mr-3">
                                                                <img src="https://pipeline.mediumra.re/assets/img/logo-integration-slack.svg"
                                                                    alt="...">
                                                            </figure>
                                                            <div>
                                                                <h6 class="card-title mb-1">Slack</h6>
                                                                <div class="text-muted">Permissions: Read, Write,
                                                                    Comment
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-danger">Remove</button>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div
                                                        class="card-body d-flex justify-content-between align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <figure class="mb-0 mr-3">
                                                                <img src="https://pipeline.mediumra.re/assets/img/logo-integration-drive.svg"
                                                                    alt="...">
                                                            </figure>
                                                            <div>
                                                                <h6 class="card-title mb-1">Google Drive</h6>
                                                                <div class="text-muted">Permissions: Read, Write</div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-danger">Remove</button>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div
                                                        class="card-body d-flex justify-content-between align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <figure class="mb-0 mr-3">
                                                                <img src="https://pipeline.mediumra.re/assets/img/logo-integration-dropbox.svg"
                                                                    alt="...">
                                                            </figure>
                                                            <div>
                                                                <h6 class="card-title mb-1">Dropbox</h6>
                                                                <div class="text-muted">Permissions: Read, Write, Upload
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-danger">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-customer" role="tabpanel"
                                                aria-labelledby="v-pills-customer-tab">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Customer of the Month</h6>
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Username</label>
                                                                        <input type="text" v-model="customerUsername" class="form-control" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Date</label>
                                                                        <input type="text" v-model="customerDate" class="form-control" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-primary" @click.prevent="saveCustomer">
                                                                <div v-if="loading" class="spinner-border spinner-border-sm text-primary" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                  </div>
                                                                  <div v-else>Save</div>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./ Content -->

                    <!-- Footer -->
                    <component-footer></component-footer>
                    <!-- ./ Footer -->
                </div>
                <!-- ./ Content body -->
            </div>
            <!-- ./ Content wrapper -->
        </div>
        <!-- ./ Layout wrapper -->
    </div>
    <!-- vue app ends here -->

    <!-- Plugin scripts bundle.js and axios are global-->
    <script src="public/vendors/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
        integrity="sha512-VZ6m0F78+yo3sbu48gElK4irv2dzPoep8oo9LEjxviigcnnnNvnTOJRSrIhuFk68FMLOpiNz+T77nNY89rnWDg=="
        crossorigin="anonymous"></script>
    <script src="models/login_auth.js"></script>

    <!-- all component files are global -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="components/settingsNotification.js"></script>
    <script src="components/topHeader.js"></script>
    <script src="components/navigation.js"></script>
    <script src="controllers/controller.js"></script>
    <script src="components/footer.js"></script>
    <!-- profile  js -->
    <script src="controllers/profile.js"></script>
    <script src="models/formValidate.js"></script>
    <!-- <script src="models/imageUpload.js"></script> -->
    <!-- App scripts global-->
    <script src="public/assets/js/app.min.js"></script>
    <!-- end App scripts -->
    <script src="public/vendors/fullcalendar/moment.min.js"></script>


</body>

</html>